/* global.css */
@import "/src/pages/Dungeon/Crypt/crypts.module.css";



:root {
  --darkBlue: #1F394E;
  --black: #0a0809;
  --white: #FBFBFB;
  --ijo: #c9f422;
  --ijo-dark: #b1da0b;
  --pink: #ed89fb;
  --pink-dark: #e96bfa;
  --crem: #c9d1f5;
}

/* From https://css.glass */
.btn-glass {
  text-align: center;
  width: 180px;
  height: 35px;
  padding: 0.5rem 1.3rem;
  border-radius: 20px;
  animation: btn-Width-anim 1.8s ease-in-out 1.5s backwards;

  background: rgba(255, 255, 255, 0.47);
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}
@keyframes btn-Width-anim {
  0% {
    width: 0px;
    opacity: 0;
    font-size: 0;
  }

  25% {
    opacity: 0;
  }

  100% {
    width: 180px;
    opacity: 1;
  }
}

.btn-glass:hover {
  background-color: var(--ijo);
  border-color: var(--ijo-dark);
  color: var(--black);
}

.lable {
  width: fit-content;
  padding: .2rem .5rem;
  font-size: smaller;
  border: 1px solid var(--white);
  border-radius: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--black);
  color: var(--white);
}






.wrapper-notfound {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overly {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: max-content;
  overflow: hidden;
  animation: notfound-anim 1.5s ease-in backwards;
  -webkit-animation: notfound-anim 1.5s ease-in backwards;
}

@keyframes notfound-anim {
  0% {
    width: 0;
  }

  100% {
    width: 100vw;
  }
}

.notfoundpage {
  width: 100vw;
  height: 75vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

/*Navbar*/
.container-navbar {
  margin: 2rem 10%;
  position: sticky;
  z-index: 99;
  animation: nav-anim 1.5s ease-in-out 2.8s backwards;
  -webkit-animation: nav-anim 1.5s ease-in-out 2.8s backwards;
}

@keyframes nav-anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  width: 100%;
}

.brand a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.link-nav {
  margin: 0 .5rem;
}

.logo-img {
  border-radius: 50px;
}

/*Footer*/
.footer {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 99;
  animation: nav-anim 1.5s ease-in-out 2.8s backwards;

}

.ulf {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*/src/index.tsx*/
.container-home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  z-index: 10;
  overflow: hidden;
}

.text {
  overflow: hidden;
}

.txt {
  position: relative;
  font-size: 4rem;
  font-weight: 900;
  animation: txt-anim 1.8s backwards;
  -webkit-animation: txt-anim 1.8s backwards;
}

@keyframes txt-anim {
  0% {
    top: 800px;
    left: -600px;
    transform: rotateZ(80deg);
  }

  100% {
    top: 0px;
    left: 0px;
    transform: rotateZ(0deg);
  }
}

.txt span {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.prlxbg {
  width: 100%;
  overflow: hidden;
}

.layer {
  width: 100px;
  height: 120px;
  border-radius: 100px 100px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  object-fit: cover;
  animation: prlxbg-Heigh-anim 1.6s ease-in 2.2s backwards;
  -webkit-animation: prlxbg-Heigh-anim 1.6s ease-in 2.2s backwards;
}

@keyframes prlxbg-Heigh-anim {
  0% {
    height: 0px;
    opacity: 0;
  }

  100% {
    height: 120px;
    opacity: 1;
  }
}


.img-2 {
  position: absolute;
  top: 35%;
  right: 80%;
  transform: translate(-50%, -50%);
}

.img-3 {
  position: absolute;
  bottom: 65%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.img-4 {
  position: absolute;
  top: 60%;
  right: 70%;
  transform: translate(-50%, -50%);
}

.img-5 {
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-6 {
  position: absolute;
  top: 70%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.img-7 {
  position: absolute;
  bottom: 45%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.img-8 {
  position: absolute;
  top: 65%;
  right: 20%;
  transform: translate(-50%, -50%);
}

.img-9 {
  position: absolute;
  bottom: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.img-10 {
  position: absolute;
  top: 60%;
  left: 85%;
  transform: translate(-50%, -50%);
}

/*Dungeon/index.tsx*/
.DGN {
  position: relative;
  height: 75vh;
  width: 100%;
  transform: translate(50%, 0%);
}

.wrapper-DGN {
  height: 300px;
  overflow: hidden;
}

.wrap-DGN {
  position: absolute;
  bottom: 180px;
  animation: DGN-anim 4.2s ease-in-out backwards;
  -webkit-animation: DGN-anim 2.2s ease-in-out backwards;
}


@keyframes DGN-anim {
  0% {
    right: -100%;
  }

  50% {
    right: 100%;
  }

  95% {
    right: 10%;
  }

  100% {
    right: 5%;
  }
}


.ul-DGN {
  display: flex;
  gap: 1rem;
}

.crd-DGN {
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  /*width: 80%;*/
}


.li-DGN {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  border-radius: 100px 100px 0 0;
}

.li-DGN img {
  border-radius: 100px 100px 0 0;
  transition: opacity 0.6s;
  opacity: 1;
}

.LF {
  background-color: var(--darkBlue);
  transform-origin: left center;
  transition: transform 0.5s ease;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.li-DGN:hover .LF {
  transform: rotateY(-120deg);
}

.li-DGN:hover .img {
  opacity: 0;
}

.BG {
  position: absolute;
  background: url(/images/portal.gif) no-repeat;
  background-size: 450%;
  background-position: 50% 40%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2.5rem;
}

.BG h3:hover {
  color: var(--ijo);
}

/*Portal/index.tsx*/
.PRTL {
  position: relative;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crd-PRTL {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: crd-PRTL-anim 1.7s ease-in backwards;
  -webkit-animation: crd-PRTL-anim 1.7s ease-in backwards;
}

@keyframes crd-PRTL-anim {
  0% {
    transform: scale(0.1);
  }

  80% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

.li-PRTL {
  width: 280px;
  height: 280px;
  position: absolute;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  border-radius: 50% 50% 0 0;
}

.RG {
  background-color: var(--darkBlue);
  transform-origin: right center;
  transition: transform 0.5s ease;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
}

.OV {
  background: url(/images/gate.png) center/cover no-repeat;
  position: absolute;
  z-index: 6;
}

.li-PRTL:hover .OV {
  display: none;
}

.li-PRTL:hover .LF {
  transform: rotateY(-120deg);
  -webkit-transform: rotateY(-120deg);
  -moz-transform: rotateY(-120deg);
  -ms-transform: rotateY(-120deg);
  -o-transform: rotateY(-120deg);
}

.li-PRTL:hover .RG {
  transform: rotateY(120deg);
  -webkit-transform: rotateY(120deg);
  -moz-transform: rotateY(120deg);
  -ms-transform: rotateY(120deg);
  -o-transform: rotateY(120deg);
}

.BG-PRTL {
  position: absolute;
  background: url(/images/portal.gif) no-repeat;
  background-size: 450%;
  background-position: 50% 40%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}

.BG-PRTL a {
  display: block;
  color: var(--white);
  font-size: 2.8rem;
  font-weight: 900;
  text-align: center;
  margin: 0;
  background: linear-gradient(to right, #03a9f4, #f441a5, #03a9f4);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: rainbow 2s ease-in-out infinite;
  transition: color .2s ease-in-out;
  -webkit-animation: rainbow 2s ease-in-out infinite;
  -webkit-transition: color .2s ease-in-out;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.BG-PRTL a:hover {
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 5px 0 var(--white);
}




/*laboratorium*/
.txtHeader {
  padding: 0 10%;
  margin: 10% 0;
  width: 60vw;
}

/* work list */
#worksList {
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.wrap-work {
  max-width: 340px;
  margin-bottom: 10%;

}
.img-work {
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ijo);
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  border: 1px solid var(--crem);
  border-radius: 300px 300px 0 0;
}
.gif-work {
  width: 150%;
  display: none;

}
.img-work:hover .gif-work {
  display: block;
}

.work-ads {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 360px) {
  .logo span {
    display: none;
  }

  .wrapper-DGN {
    overflow-y: scroll;
  }

  .txtHeader {
    width: 100%;
  }
}