
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}

a {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

/*Navbar*/
.container-navbar {
  margin: 2rem 10%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.wrapper-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  width: 100%;
}

.brand a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.logo-img {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.button {
  padding: 0.4rem 1.3rem;
  border: 1px solid #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.button:hover {
  background-color: #bfea88;
  border-color: #bfea88;
  color: #000;
}

/*Footer*/
.footer {
  margin: 0 auto;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.ulf {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*/src/index.tsx*/
.container-home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75vh;
  z-index: 10;
  overflow: hidden;
}

.txt {
  font-size: 4rem;
  font-weight: 900;
}

.txt span {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.prlxbg {
  width: 100%;
  overflow: hidden;
}

.prlxbg .layer {
  width: 100px;
  height: 120px;
  object-fit: cover;
}


.img-2 {
  position: absolute;
  top: 35%;
  right: 80%;
  transform: translate(-50%, -50%);
}

.img-3 {
  position: absolute;
  bottom: 65%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.img-4 {
  position: absolute;
  top: 60%;
  right: 70%;
  transform: translate(-50%, -50%);
}

.img-5 {
  position: absolute;
  bottom: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-6 {
  position: absolute;
  top: 70%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.img-7 {
  position: absolute;
  bottom: 45%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.img-8 {
  position: absolute;
  top: 65%;
  right: 20%;
  transform: translate(-50%, -50%);
}

.img-9 {
  position: absolute;
  bottom: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.img-10 {
  position: absolute;
  top: 60%;
  left: 85%;
  transform: translate(-50%, -50%);
}

/*Dungeon/index.tsx*/

.DGN {
  position: relative;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translate(50%, 0%);
  -webkit-transform: translate(50%, 0%);
  -moz-transform: translate(50%, 0%);
  -ms-transform: translate(50%, 0%);
  -o-transform: translate(50%, 0%);
}

.ul-DGN {
  display: flex;
  gap: 1rem;
}

.crd-DGN {
  display: flex;
  justify-content: space-evenly;
  /*width: 80%;*/
}


.li-DGN {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  border-radius: 100px 100px 0 0;
  -webkit-border-radius: 100px 100px 0 0;
  -moz-border-radius: 100px 100px 0 0;
  -ms-border-radius: 100px 100px 0 0;
  -o-border-radius: 100px 100px 0 0;
  -webkit-transform: perspective(2500px);
  -moz-transform: perspective(2500px);
  -ms-transform: perspective(2500px);
  -o-transform: perspective(2500px);
}

.LF {
  background-color: #bfea88;
  transform-origin: left center;
  transition: transform 0.5s ease;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.li-DGN:hover .LF {
  transform: rotateY(-120deg);
  -webkit-transform: rotateY(-120deg);
  -moz-transform: rotateY(-120deg);
  -ms-transform: rotateY(-120deg);
  -o-transform: rotateY(-120deg);
}

.BG {
  position: absolute;
  background: url(/images/portal.gif) no-repeat;
  background-size: 450%;
  background-position: 50% 40%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2.5rem;
}


/*Portal/index.tsx*/
.PRTL {
  position: relative;
  height: 75vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.crd-PRTL {
  display: flex;
  justify-content: center;
  align-items: center;
}

.li-PRTL {
  width: 280px;
  height: 280px;
  position: absolute;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  border-radius: 50% 50% 0 0;
  -webkit-border-radius: 50% 50% 0 0;
  -moz-border-radius: 50% 50% 0 0;
  -ms-border-radius: 50% 50% 0 0;
  -o-border-radius: 50% 50% 0 0;
  -webkit-transform: perspective(2500px);
  -moz-transform: perspective(2500px);
  -ms-transform: perspective(2500px);
  -o-transform: perspective(2500px);
}

.RG {
  background-color: #bfea88;
  transform-origin: right center;
  transition: transform 0.5s ease;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
}

.OV {
  background: url(/images/gate.png) center/cover no-repeat;
  position: absolute;
  z-index: 6;
}

.li-PRTL:hover .OV {
  display: none;
}

.li-PRTL:hover .LF {
  transform: rotateY(-120deg);
  -webkit-transform: rotateY(-120deg);
  -moz-transform: rotateY(-120deg);
  -ms-transform: rotateY(-120deg);
  -o-transform: rotateY(-120deg);
}

.li-PRTL:hover .RG {
  transform: rotateY(120deg);
  -webkit-transform: rotateY(120deg);
  -moz-transform: rotateY(120deg);
  -ms-transform: rotateY(120deg);
  -o-transform: rotateY(120deg);
}

.BG-PRTL {
  position: absolute;
  background: url(/images/portal.gif) no-repeat;
  background-size: 450%;
  background-position: 50% 40%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.BG-PRTL a {
  font-size: 2rem;
  margin: 0;
}